.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;
}

label {
  padding: 5px 0 0 5px;
  margin: 0;
  font-size: 16px;
  border-bottom: 1px solid #d2d2d2;
  background-color: rgb(245, 245, 245, 0.8);
  border-radius: 6px 6px 0 0;
}

input {
  padding: 0 0 0 5px;
  border: none;
  border-bottom: 1px solid #d2d2d2;
  background-color: rgb(245, 245, 245, 0.8);
  border-radius: 0 0 6px 6px;
  outline: none;
  font-size: inherit;
  box-sizing: border-box;
}

.error {
  min-height: 1.2rem;
  color: red;
}
