.programm {
  background-image: url(../../img/paperSand.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

@media (width <= 575px) {
  .action {
    flex-direction: column;
    align-items: center;
  }
}

.table {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.table caption {
  font-family: "Caravan";
  padding-top: 4rem;
  font-size: 8rem;
}

.table tr > th {
  padding-right: 1.5rem;
  font-size: 3rem;
  font-weight: 100;
}

.table tr > td {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
  gap: 1rem;
  font-size: 2.8rem;
}

.table .address {
  font-size: 1.8rem;
  font-style: italic;
}
